body { 
  background: rgb(238 112 206);
  color:  rgb(93, 35, 159);
  margin:0px;
  font-family: "Matemasie", sans-serif;
  margin-bottom: 100px;
}

header { 
   border-bottom: solid 2px white;
   padding:  20px;
   font-size: 32px;
   color: rgb(93, 35, 159);;
  
}


.categoria-videos {
      display: flex; 
      overflow-x: auto; 
      gap: 1% ;
}
    
 .categoria-videos  img { 
   opacity: 0.5;
   height: 200px; 
 }

  .categoria-videos img:hover{ 
    opacity: 1.0 ; 
    border: 1px solid palevioletred;
  }
  .categoria h2{ 
     color: rgb(93, 35, 159)  
  }

 